@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    src: local('Manrope');
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:local('Poppins SemiBold'), local('Poppins-SemiBold');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    filter: grayscale(100%);
    transition: transform .2s;
}
img:hover {
    filter: grayscale(0%);
    cursor: pointer;
    -ms-transform: scale(1.25); /* IE 9 */
    -webkit-transform: scale(1.25); /* Safari 3-8 */
    transform: scale(1.25); 
}
body {
    font-family: 'Manrope', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 26px;
    background-color:#151515;
}

p {
    color: #444;
    max-width: 6in;
    line-height: 1.5;
    margin: 10px 0;
}
p a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 0.5px #ffffff;
    transition: width 2s;
}
p a:hover {
    opacity: 0.85;
}

.social {
    cursor: default;
    list-style: none;
    margin-top: 20px;
    color: #ffffff;
    display: inline;
}

.social li {
    color: #ffffff;
    display: inline-block;
    margin: 0.5em;
}

li a {
    color: #ffffff;
}

@media (max-width: 680px) {
    main {
        padding: 15px;
    }
    h2 {
        font-size: 24vw;
        margin-left: 0;
    }
    .container {
        padding: 1.5em !important;
    }
    .img-container {
        display: none;
    }
}
@media (max-width: 450px) {
    .social {
        max-width: 250px;
    }
}

.container {
    padding: 5em;
}

li {
    transition: transform .2s;
}

li:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

h1 {color:white;font-family:Poppins, Helvetica, Arial, "Sans Serif";font-size:4rem;margin:0px;line-height:1.1;}
img {
    height: 3em;
    border-radius: 50%;
}
.img-container {
    float: left;
    padding-right: 1em;
}
