body {
	font-family: Poppins, Helvetica, Arial, "Sans Serif";;
	background-color: #FFF;
	color: #303030;
	line-height: 1vh;
	transition: .4s;
}

a, a:visited {
	text-decoration: none;
	color: #3999FF;
}

a:active, a:hover {
	color: #303030;
	text-decoration: underline;
	text-decoration-color: #3999FF;
}

.flex-container {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: left;
  	align-items: center;
  	height: 90vh;
  	font-size: 4.4vw;
  	letter-spacing: 0.03rem;
  	font-weight: 100;
}

.flex-text {
	max-width: 380px;
	line-height: 2rem;
	padding-left: 2.5rem;
}

.social-media {
	word-spacing: 3vw;
}

.main {
	font-weight: 500;
	line-height: 1.8rem;
}

p {
	font-family: 'Manrope', Helvetica, Arial, "Sans Serif";;
	font-weight: 100;
}

.dark-theme {
	background-color: #151515;
	color: #FFF;
	transition: .4s;
}

.dark-theme a, .dark-theme a:visited {
	color: #bc2cff;
}

.dark-theme a:active, .dark-theme a:hover {
	color: #f7f7f7;
	text-decoration-color: #bc2cff;
}

span.icon {
	display: inline-block;
	position: relative;
	top:12px;
}

@media only screen and (min-width: 600px) {
	.flex-container {
		font-size: 1.6rem;
	}

	.flex-text {
		max-width: 500px;
		line-height: 2.4rem;
	}
	
	.main {
		font-size: 2rem;
		line-height: 0;
	}
}

@media only screen and (min-width: 768px) {
	.flex-text {
		max-width: 600px;
		line-height: 2.6rem;
	}
}

.social {
    cursor: default;
    list-style: none;
    margin-top: 20px;
    color: #ffffff;
    display: inline;
	padding: 0;
}

.social li {
    color: #ffffff;
    display: inline-block;
    margin: 0.5em;
}

li a {
    color: #ffffff;
}

li {
    transition: transform .2s;
}

li:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}