 html, body { height: 100%; }
 body { margin: 0; overflow: hidden; width: 100%; background: #ffffff; color: #000000;font-size: 16px; font-weight: 500;}
 a { color: #000000; text-decoration: underline;font-weight: 600; }
 a:hover {opacity: .50;}
 .wsite-header-section .wsite-content-title, .wsite-header-section .paragraph { font-family:"Raleway"; color:#000000;letter-spacing: 0px !important; }
 .wsite-header-section .paragraph {font-weight:200 !important;text-transform:  none !important;}
 .wsite-header-section .wsite-content-title {font-size:65px !important;line-height:40px !important;}
 hr { max-width: 1200px;border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);}
 h2 { color: #000000; font-size: 24px; font-weight: 700; line-height: 1.25; margin: 0 auto 30px; }
 div.paragraph { font-family:"Raleway"; font-size: 16px; font-weight: 500; line-height: 1.75; margin: 0 auto 30px; }
 .banner-wrap { position: relative; height: 100%; background: #ffffff; color: #000000;text-align: center; }
 .banner-wrap .container { padding: 80px 40px; }
 .banner-wrap h2 { color: inherit; font-size: 80px; font-weight: 100; line-height: 1.15; margin: 15px auto; }
 .banner-wrap div.paragraph { color: inherit; font-weight: 700; line-height: 1.50; letter-spacing: 0.15em; margin: 15px auto; }
 .container { position: relative; width: 100%; margin: 0 auto; box-sizing: border-box; }
 .main-wrap { width: 100%; background: #ffffff; }
 .main-wrap .container { padding: 60px 40px; }
 .wsite-social a { padding:5px;text-decoration:none; }
