a{background-color:transparent;}
body{zoom:125%;font-family:"Raleway";font-size: 16px; font-weight: 200; line-height: 1.50; margin: 0 auto 30px;}
a:active,a:hover{outline:0;}
#name, .bolded {font-size:50px;margin-top:1em;font-weight:900;max-width: 4500px;}
.bolded {margin-bottom: 10px;margin-top: 25px !important;}
@media print{
*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
p{orphans:3;widows:3;}
}
*, :after,:before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
a { color: #000000; text-decoration: underline;font-weight: 600; }
a:focus,a:hover {opacity: .50;}
h1,h4{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;margin-bottom:10px;}
h1{margin:.67em 0;font-size:2em;margin-top:20px;font-size:36px;}
h4{font-family:"Raleway";font-size: 1.5em; font-weight: 200 !important;margin-top:10px;}
h3, h5{margin: 0;}
h5{font-size:12px;font-weight: 200;}
p{margin:0 0 10px;}
.wsite-social a { padding:5px;text-decoration:none; }
.wrapicon:hover .fa-external-link, .wrapicon:hover .fa-map-signs, .wrapicon:hover .fa-envelope-o, .wrapicon:hover .fa-phone,
.fa-linkedin.rotate:hover, .fa-instagram.rotate:hover, .fa-facebook.rotate:hover, .fa-twitter.rotate:hover, .fa-github.rotate:hover,
.fa-html5:hover, .fa-css3:hover, .fa-js:hover, .fa-python:hover, .fa-java:hover {
   -webkit-animation-name: turn;
   -webkit-animation-duration: 0.9s;
   animation-name: turn;
   animation-duration: 0.9s;
}
@keyframes turn {
  from { transform: rotate(0deg); transition: 0.9s ease-in-out;}
  to {transform: rotate(360deg);}
}
.social-container { padding-bottom: 5px;}
.wrapicon .fa-external-link { color: #3c70b4;}
.wrapicon .fa-map-signs { color: #f7941d;}
.wrapicon .fa-envelope-o { color: #b90162;}
.wrapicon .fa-phone { color: #f46441;}
.wrapicon{ display: inline-block; width: 100px; padding-top: 5px; overflow: hidden; text-align: center;}
.row-image { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 4px;}
.column { -ms-flex: 50%; flex: 50%; padding: 0 4px;}
img {border:0;max-width:100%!important;page-break-inside:avoid;vertical-align:middle;max-width: 100%; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s;margin-bottom: 5px !important;width:100%;margin-bottom:10px;}
img:hover { transform: scale(.95); transition: transform .5s ease-in-out;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:1200px){.container{width:1170px;}}
.row{margin-right:-15px;margin-left:-15px;}
.col-md-2,.col-md-8,.col-sm-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-sm-12{float:left;}
.col-sm-12{width:100%;}
.container{width:750px;}
}
@media (min-width:992px){
.col-md-2,.col-md-8{float:left;}
.col-md-8{width:66.66666667%;}
.col-md-2{width:16.66666667%;}
.col-md-offset-1{margin-left:8.33333333%;}
.container{width:970px;}
}
.container:after,.container:before,.row:after,.row:before{display:table;content:" ";}
.container:after,.row:after{clear:both;}
.row{margin-top:10px;}
.projects-li, .academics-li{border-bottom:.5px solid gray; padding-left: 5px;}
.projects-li:hover,.projects-li.active, .academics-li:hover, .academics-li.active {cursor:pointer; background-color: black;color: white;font-weight: 700 !important;}
.projects-img{width:80%;}
.academics-li {display: table-cell;padding-right: 5px;}
.projects-area{border-left:.5px solid black;}
.projects-project, .academics{display:none;}
.projects-project.active, .academics.active{display:block;}
.project {display:table-cell;max-width: 11em;background-color:black;color:white;padding:5px;border-radius:5px;}
.project:hover{-webkit-transition-duration: 0.3s;}
.project a {color: white;}
ul {margin-top: 0;}
.mySlides {display: none;}
.slideshow-container { max-width: 1000px; position: relative; margin: auto;}
.fade {
  width:30%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {transform: scale(.95); transition: transform 0.3s ease-in-out;}
  to {transform: scale(1);}
}
